/*Custom CSS */ 

h1, 
body {
	font-family: 'Waiting for the Sunrise', cursive;
}

body{
	background-color: rgb(201, 255, 213);
} 

h3{
	color:rgb(44, 133, 141);
}

/*Media Queries */

@media only screen and (max-width: 991px){

	.title-text{
 				text-align: center;
	}
}